/* Cascade Style Sheet for this website */

* {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: auto;
}

.navbar /* Navigation */{

}

.menu {}

.content /* Content */{
    width: 800px;

}