/* Cascade Style Sheet for this website */

* {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: auto;
}

h1, h2 {
    min-height: 48px;
    text-align: center;
}

.navbar /* Navigation */{

}

.menu {}

.content /* Content */{
    width: 800px;

}